
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a class="nav-link" routerLink="home">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="primeros-ejemplos">Primeros ejemplos</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="anidar-componentes">Anidar Componentes</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="rest-and-ngfor">Rest And NgFor</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
  </ul>
</div><!--/.nav-collapse -->

