 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <navigator></navigator>
      </div>
    </nav>


<br><br><br><br>
<router-outlet></router-outlet>

<p [hidden]="!visible">
  Adios, buena suerte!
</p>  
<button (click)="decirAdios()">decir Adios</button>

<p>
  ¿Cómo te llamas?  <input type="text" [(ngModel)]="quien">
</p>

<p>
  Hola {{quien}}
</p>

<mi-nuevo-componente></mi-nuevo-componente>
<cata></cata>

<using-apis-and-list></using-apis-and-list>